<!-- <div *ngIf="filesService.list.length">
  <input #compilationName type="text" required>
  <button type="button" (click)="saveCompilation(compilationName)">Save compilation</button>
</div> -->
<div class="input-group" *ngIf="filesService.audioFilesList$.getValue().length">
  <input #compilationName type="text" class="form-control" placeholder="My compilation" required>
  <span class="input-group-btn">
    <button (click)="saveCompilation(compilationName)" class="btn btn-success" type="button">Save</button>
  </span>
</div><!-- /input-group -->
