.table {
  margin-top: 20px;

  th {
    text-align: center;
  }
}

.compilation-buttons {
  margin-top: 15px;

  .btn {
    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
}

.compilation-name {
  margin-top: 5px;
}

.audiofile__filename {
  border: none;
  border-bottom: solid 1px rgba(0,0,0,0.12);
}

.modal {
  text-align: left;
}

.actions {
  opacity: 0;
  transition: opacity .2s ease-in;

  .action {
    cursor: pointer;

    &__icon {
      font-size: 1.5em;
    }
  }
}

.audiofile {
  &:hover {
    .actions {
      opacity: 1;
    }
  }
}
