<!-- add class nav-stacked for vertical pills -->
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a routerLink="new" routerLinkActive="active" class="nav-link">New compilation</a>
  </li>
  <li class="nav-item">
    <a routerLink="compilations" routerLinkActive="active" class="nav-link">My compilations <span class="badge badge-secondary">{{compilationService.getAudiofilesNumber()}}</span></a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">Settings</a>
  </li>
</ul>
